.anasayfa{
    &_inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        width: 80%;
        color: #fff;
    }
    &_child{
        flex-basis: 45%;
        h1{
            font-size: 50px;
            color: #24caac;
            .span_child{
                color: #e0376f;
            }
        }
        p{
            font-size: 25px;
            margin-bottom: 30px;
        }
        .btn{
            background: #24caac;
            padding: 12px 28px;
            border-radius: 30px;
            color: #fff;
            font-size: 25px;
            font-weight: 700;
            border: #24caac 1px solid;
            &:hover{
                background:transparent ;
                cursor: pointer;
                letter-spacing: 1.5px;
            }
        }
    }
}