*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .5s ease-in-out;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center ;
    width: 80%;
    margin: 0 auto;
}
htm{
    scroll-behavior: smooth;
}
img{
    width: 100%;
}
section{
    padding: 100px 0;
    background: #122e44;
}
.section_title{
    margin-bottom: 100px;
    h2{
        position: relative;
        text-align: center;
        color: #fff;
        font-size: 30px;
        &:hover{
            background-color: #24caac;
        }
    }
}
