.innersoftware{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    text-transform: none; 
    &_child{
        flex-basis: 31%;
        color: #fff;
        padding: 25px 20px;
        background: rgba(55, 66, 80, 0.281);
        border-radius: 5px;
        border: 1px solid transparent;
        line-height: 25px;
        &:hover{
            border: 1px solid #24caac;
        }
        .icon{
            font-size: 25px;
            color: #24caac;
        }
        h3{
            font-size: 20px;
            margin: 10px 0;

        }
        p{
            font-size: 15px;
        }
    }
}